@model dynamic

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @using (Html.BeginForm("UploadTimeTable", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 
        <input type="file" name="file" />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    }
</div>
</body>
</html>